@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;208;300;400;500;600;700;800;900&display=swap');

input,button,select,a,textarea {
    border-width: unset !important;
}

a {
  border-width: 1px !important;
}

button {
  border-width: 1px !important;
}

* {
    /*border-radius: 0 !important;*/
    /*border-width: 0 !important;*/
    border-width: 0 !important;
    font-family: 'Inter', sans-serif;
}

.dropdown-menu {
    border-radius: 0 !important;
}

.card .card-body {
    border-radius: 10px !important;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 3000;
}

#globalNav {
    background-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3000
}

.navbar {
    z-index: 2000;
}

.sidebar {
    position: fixed;
    top: 116px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    }

.row {
    margin-bottom: 15px;
}

#content {
    min-height: calc(100vh - 88px);
    margin-top: 88px;
}

table {
    width: 100%;
    border: solid rgba(0,0,0,0.01);
    border-width: 0px !important;
    border-collapse: collapse;
}

th {
    border: solid rgba(0,0,0,0.01);
    border-width: 0px !important;
    border-collapse: collapse;
    padding: 15px;
}

td {
    border: solid rgba(0,0,0,0.01);
    border-width: 0px !important;
    border-collapse: collapse;
    padding: 15px;
}

.modal-backdrop {
    z-index: 4000;
}
.modal {
    z-index: 4001;
}

/*loading ellipsis animation*/

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }

/* sidebar */

  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2e0f4;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2e0f4;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  
/*svg stuff*/
@namespace svg url(http://www.w3.org/2000/svg);
/* Necessary to select only SVG <a> elements, and not also HTML’s.
   See warning below */

svg|a:link, svg|a:visited {
  cursor: pointer;
}

h1 {
    font-size: calc(1.475rem + 1.5vw);
    font-weight: bolder;
    margin-bottom: 60px;
}

h2 {
    font-size: calc(1.475rem + 0.6vw);
    font-weight: 600;
    margin-bottom: 30px;
}

h3 {
    font-size: calc(1.475rem);
    font-weight: 600;
    margin-bottom: 15px;
}

p,li.body {
    font-size: 1.1rem;
    font-weight: 300;
}

p.larger {
    font-size: 1.3rem;
    font-weight: 300;
}

#content {
    margin-top: 50px;
}

.line-x { 
    background-color: rgba(39, 21, 54,1);
    height: 1px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

img.body {
    margin: 15px;
    margin-bottom: 50px;
    margin-left: 0;
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
}
